
.imagen-uniforme {
    width: 100%;
    height: 650px; 
    object-fit: cover;
    object-position: center;
}

.imagen-catalogo{
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}


